<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <h2>Input Form</h2>
    <form method="post" action="{% url 'metroBot:process_input' %}">
        {% csrf_token %}
        <label for="data">Input:</label>
        <input type="text" name="data" id="data">
        <input type="submit" value="Submit">
    </form>

    {% if result %}
        <h2>Result:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>